@charset "utf-8";

/*全体の設定*/
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    margin-bottom: 20vh;
}
.bg-002 p{color: #fff;}

/*背景の設定*/
.bg-001{background: url("../img/bg-stripe.png") left center repeat;}
.bg-002{background: #98807b url("../img/bg-cat.png") center bottom no-repeat;}