@charset "utf-8";

section{
    width: 600px;
    margin: 0 auto;
    padding: 2em;
    background: #ffebf0;
}

h1{
    margin: 0 0 1em;
}

img{
    width: 320px;
    margin-left:1em;
    margin-bottom: 1em;
}

p{
    line-height: 1.8;
}